<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="ErrorLog" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <!--Cofiguration for Error email log-->
  <ErrorLog>
    <add key="application" value="Web Service"/>
    <add key="airline" value="EDW"/>
    <add key="logtype" value="MAIL"/>
    <add key="SmtpServer" value="mail.mercator.asia"/>
    <add key="ErrorTo" value="angkoon@mercator.asia"/>
  </ErrorLog>
  <!--<connectionStrings/>-->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
		-->
    <customErrors mode="Off">

    </customErrors>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

  <appSettings>
    <add key="ComServer" value="" />
    <add key="ComUser" value="" />
    <add key="ComPassword" value="" />
    <add key="ComDomain" value="" />
    <add key="LogPath" value="C:\IIS\tikAeroWebMain\tikAeroWebMain\Log" />
    
    
    <add key="AuthenUser" value="admin" />
    <add key="AuthenPassword" value="1234" />


    <!--<add key="apiUserName" value="sysadmin"/>
    <add key="apiPassword" value="12kinza10"/>-->


  </appSettings>
  
  <connectionStrings>
    <add name="TikAeroConnectionString" connectionString="Persist Security Info=False;User ID=sa;Initial Catalog=AVANTIK_EZE_PROD_221120;Password=password;Data Source=192.168.10.201"/>
  </connectionStrings>

</configuration>

